
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Anne Pham </title>
    <link rel="stylesheet" type="text/css" href="/resources/index.css">
    <link rel="shortcut icon" type="image/png" href="/resources/logo2.png">
    <script src="jquery-1.10.2.min.js"></script>
    <script src="/scripts/index.js"></script>
    <script type="text/javascript" src="https://ajax.microsoft.com/ajax/jQuery/jquery-1.4.2.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Arima+Madurai|Glegoo|Raleway" rel="stylesheet">
  </head>
  <body>
    <div class="ct" id="t1">
  <div class="ct" id="t2">
    <div class="ct" id="t3">
      <div class="ct" id="t4">
 <section>
  <ul>
    <a href="#t1"> <img src="/resources/home.png" width="40px" height="40px"> <li class="icon fa fa-home" id="uno"></li></a>
    <a href="#t2"> <img src="/resources/engagement.png" width="40px" height="40px"> <li class="icon fa fa-keyboard-o" id="dos"></li></a>
    <a href="#t3"> <img src="/resources/projects.png" width="40px" height="40px"><li class="icon fa fa-coffee" id="tres"></li></a>
    <a href="#t4"> <img src="/resources/contact.png" width="40px" height="40px"><li class="icon fa fa-dribbble" id="cuatro"></li></a>
  </ul>
   <div class="page" id="p1">
      <li class="icon fa fa-home">
          <span class="title"> &nbsp;&nbsp;Hi! I'm Anne. <br><br> <img src="/resources/anne3.jpg" width="300px" height="230.4px"></span>
          <span class="hint"> I am a first year at the University of Washington at Seattle intending to major in computer science and minor in music composition.
                              <br> <br> <h2 id="resume"> <a href="/resources/resume.pdf" target="_blank" >RESUME  </a></h2></span>
      </li>
   </div>
   <div class="page" id="p2">
     <li class="icon fa fa-keyboard-o">
       <span class="title" id="title2">Engagement <br>
       </span></li>
       <span class="groups">
         <h1>
           Husky Marching Band <br> <img src="/resources/hmb.jpg" width="320px" height="200px"> <br>
           <h2> Husky Marching Band (HMB) is the <br>
                marching band for the University of <br>
                Washington. I play the piccolo amongst <br>
                240 other members. We practice up to 16 <br>
                hours a week in order to perform for <br>
                thousands of people. It's only been <br>
                my first year in the band, but it's been <br>
                an amazing experience in enhancing my <br>
                school spirit and confidence.
           </h2>
         </h1>
       </span>
       <span class="groups">
         <h1>
          CSSI Alumni <br> <img src="/resources/cssi.jpg" width="320px" height="200px"> <br>
          <h2> The Computer Science Summer Institute <br>
               is a 3-week intensive program hosted by <br>
               Google to teach different computer science <br>
               skills. I attended the program at the Kirkland <br>
               Campus in WA. I was able to learn a lot about <br>
               web development while working along side <br>
               professional Google software engineers. <br>
               By the end, I was able to build my own <br>
               website with a group I worked with.
          </h2>
         </h1>
       </span>
       <span class="groups">
         <h1>
          GWC Alumni <br> <img src="/resources/gwc.png" width="320px" height="200px"> <br>
          <h2> Girls Who Code is a national nonprofit that <br>
               allow girls to feel comfortable in pursuing<br>
               future careers in technology. Over the course <br>
               of 7-weeks, I met many inspirational women <br>
               in the tech field and gained multiple mentors <br>
               to aid me in my journey through computer <br>
               science. This experience was the first spark <br>
               to my interest in coding. Ever since then, <br>
               I've really developed a passion for it.
          </h2>
         </h1>
       </span>
   </div>
   <div class="page" id="p3">
     <li class="icon fa fa-coffee">
       <span class="title" id="title2">Projects
       </span></li>
       <br> <br> <br>
       <!-- <iframe width="800" height="400" src="http://anne-lense.appspot.com/" frameborder="0" allowfullscreen></iframe> -->
       <div class="diy-slideshow">
         <figure class="show">
           <iframe width="1000" height="500" src="http://anne-lense.appspot.com/bloedelconservatory" frameborder="0" allowfullscreen></iframe>
             <h2> I custom coded this photography portfolio to showcase the photos that I have taken myself. See website
            <a href="http://anne-lense.appspot.com/" style="text-decoration: underline" target="_blank"> here </a> </h2>
         </figure>
         <figure class="show">
       		<iframe width="1000" height="500" src="http://plan-itt.appspot.com/" frameborder="0" allowfullscreen></iframe>
            <h2> With a group, we designed a website to improve productivity within groups of individuals. Type any code that
                 you will then share with other people that you want access to the page (case sensitive). Anyone who has <thead>
                 specific key, can access and see the corresponding posts to that key. See website
                 </thead>
           <a href="http://plan-itt.appspot.com/" style="text-decoration: underline" target="_blank"> here </a> </h2>
       	</figure>
        <figure class="show">
          <img src="/resources/osasun.png" width="1000px" height="500px">
           <h2> With a group, we designed a website to spread awareness about mental illnesses and to cope with it. It included
                resources that were made to help individuals relieve stress and feel calm (website was hosted with aws services
                and its use has expired)
                </thead>
       </figure>
  <span class="prev">&laquo;</span>
  <span class="next">&raquo;</span>
</div>

   </div>
   <div class="page" id="p4">
    <li class="icon fa fa-dribbble">
      <span class="title" id="title2">Contact
      </span><span class="hint"></li>
        <br> <br> <br> <br> <br> <br>
      <span class="email">
        <h2 id="email">Have questions? Want to just say hi? Send me an e-mail!</h2>

        <form action="mailto:anne.pham99@yahoo.com" method="post" enctype="text/plain">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Name:<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="name"><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;E-mail:<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="mail"><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Comment:<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="comment" size="50"><br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="Send">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="reset" value="Reset">
        </form>
      </span>

      <br> <br> <br>

      <span class="socialmedia">
        <a href="https://www.facebook.com/Anne--112017868884706/" target="_blank"> <img id="fb" src="/resources/facebook.png" width="40px" height="40px"></a>
        &nbsp;<a href="https://www.instagram.com/annelense/" target="_blank"> <img id="insta" src="/resources/insta.png" width="40px" height="40px"> </a>
        <a href="https://github.com/annepham25" target="_blank"> <img id="youtube" src="/resources/github.png" width="60px" height="40px"> </a>
        <a href="https://www.linkedin.com/in/anne-pham/" target="_blank"> <img id="linkedin" src="/resources/linkedin.png" width="40px" height="40px"> </a>
        &nbsp;<a href="https://www.youtube.com/user/triplethreatt333" target="_blank"> <img id="github" src="/resources/youtube.png" width="40px" height="40px"> </a>
      </span>

   </div>
 	<!-- <p class="credit"> Original Pen by <a href="https://codepen.io/hrtzt/">Alberto Hartzet</a></p> -->
 </section>

      </div>
      </div>
    </div>
   </div>
   <script src="jquery-1.10.2.min.js"></script>
   <script src="/scripts/index.js"></script>
   <script type="text/javascript" src="https://ajax.microsoft.com/ajax/jQuery/jquery-1.4.2.min.js"></script>
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</body>
</html>
